*{
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    overflow-y:hidden;
}
body{
    background-color: #dbdbdb;
}

p{
    margin: 0px;
}

/*==========플로팅 버튼 디자인 시작============*/



.floating-btn {
    width: 200px;
    height: 250px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    top: 50px;
    cursor: pointer;
    z-index: 1; /* 팝업 창 위에 나타나도록 z-index 추가 */
    margin-right: 30px;
}

.floating-btn img {
    width: 200px;
    height: 250px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.popup {
    display: none;
    position: fixed;
    left: 700px !important;
    top: 150px !important;

    width: 530px;
    height: 650px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* 플로팅 버튼보다 위에 나타나도록 z-index 추가 */
    border-radius: 20px;
}

#closeBtn {
    margin-top: 10px;
}
/*==========플로팅 버튼 디자인 끝 ============*/



/*==========플로팅창 디자인============*/


/*플로티창 관련 부분*/
.chat_wrap {
    display: none;
    width: 350px;
    height: 500px;
    position: fixed;
    bottom: 30px;
    right: 95px;
    background: #a9bdce;

}

/* 헤더*/
.chat_header {
    width: 500px;
    height: 40px;
    padding: 10px 15px;
    background: white;
    margin: 0 auto;
    text-align: center;
    border-bottom: 0.5px solid #59A8FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.chat_header p{
    font-size: 20px;
    margin-top: 10px;
}

.chat_header .close_btn {
    border: none;
    background: none;
    float:right;
}

.chat_content {
    width: 500px;
    height: 620px; /* 수정된 부분 */
    overflow-y: scroll;
    padding: 10px 15px;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}



.profile_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat_ds{
    margin-left: 70px;
}

.chat_input {
    width: 400px;
    padding: 10px 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5px;
    float: left;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.form_box{
    width: 530px;
    height: 50px;

    margin: 0 auto;
}


.send_btn {
    width: 70px;
    border: 1px solid #dbdbdb;
    background: #59A8FF;
    height: 35px;
    color: white;

    margin-top: 10px;
    margin-right: 5px;

    border-radius: 5px;
}

.msg_box:after {
    content: '';
    display: block;
    clear: both;
}

.msg_box > span {
    padding: 10px 30px;
    word-break: break-all;
    display: block;
    max-width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 15px;
}

.msg_box.send > span {
    background: #59A8FF;
    float:right;
    color: white;
}

.msg_box.receive > span {
    background: #fff;
    float: left;
    border: 1px solid #59A8FF;
}

.msg_box_img:after {
    content: '';
    display: block;
    clear: both;

}

.msg_box_img.receive {
    display: inline-block; /* 수정된 부분 */
    vertical-align: top; /* 수정된 부분 */
    width: 170px;
    height: 250px;
    margin: 2px 2px 2px 2px;
}

.msg_box_img.receive img {
    width: 170px;
    height: 250px;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;

}



/* Add custom styles for image modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 450px;
    height: 650px;
    margin-top: 0px;
}

.modal-img {
    width: 100%;
    height: auto;
}

/* Add styles for the white div boxes */
.white-box {
    background-color: white;
    width: 450px;
    height: 50px;
    margin: 0 auto;
}

/* Add styles for the close button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 15px 0px 0px;
}

/*===============================*/



/*=============신청관련 디자인==================*/
.aside_body{
    width: 150px;
    margin: 0 auto;
}
.logo{
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.form-elements{
    width: 300px;
    height: 400px;
    margin: 0 auto;

}

.pure-group {
    width: 300px;
}

.pure-group > input{
    width: 300px;
    margin-top: 20px;
}

.pure-button{
    background-color: #59A8FF;
    margin-top: 15px;
    color: white;
    float: right;
}
.thankyou_message{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.nextimgs{
    width: 350px;
    height: 350px;
}