.inner{
    width: 100%;
    background-size: cover;
}

footer{
    width: auto;
    background-color: black;
    padding:1rem 0;
    margin:1rem 0;
}

.footer-message{
    
    font-size:0.7rem;
    color:white;
    margin-bottom:1px;
    margin-left: 10px;
}
.footer-contact{
    font-size:0.7rem;
    color:white;
    margin: 0px 10px;
    float: left;
}
.footer-copyright{
    font-size:0.7rem;
    color:white;
    margin: 0px 10px;
}