
.page5_main_body{
    height: 100vh;
    width: 100vw;
    background-color: #59A8FF;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    inset: 0px;
    animation: 1s linear 0s 1 normal forwards running zoom-in;
    display: block;
}


.phon5_img1{
    position: relative;
    top: 70px;
    left: 30%;
    margin-bottom: 20px;
}

.phon5_img2{
    position: relative;
    top: 70px;
    left: 30%;
    margin-bottom: 20px;
}

.phon5_img3{
    position: relative;
    top: 70px;
    left: 30%;
    margin-bottom: 20px;
}

.phon5_img4{
    position: relative;
    top: 70px;
    left: 27%;
}

.phon5_img1 img{
    width: 40%;
}

.phon5_img2 img{
    width: 40%;
}

.phon5_img3 img{
    width: 40%;
}

.phon5_img4 img{
    width: 37%;
}


.page5_img1 img{
    display: none;
}

.page5_img2 img{
    display: none;
}

@media screen and (min-width: 768px){
    .page5_main_body{
        height: 100vh;
        width: 100vw;
        background-image: url("../imgs/page5/page_main5.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        inset: 0px;
        animation: 1s linear 0s 1 normal forwards running zoom-in;
        display: block;
    }

    .page5_img1{
        width: 500px;
        height: auto;
        position: relative;
        top: 100px;
        left: 10%;

    }
    .page5_img1 img{
        object-fit: contain;
        display: flex;
        float: none;
        width: 75%;
        height: auto;
    }

    .page5_img2{
        width: 500px;
        height: auto;
        position: relative;
        top: 80px;
        left: 50%;

    }
    .page5_img2 img{
        object-fit: contain;
        display: flex;
        float: none;
        width: 75%;
        height: auto;
    }


    .phon4_img1{
        display: none;
    }
    
    .phon4_img2{
        display: none;
    }

}




@media screen and (min-width: 1025px){
    .page5_main_body{
        height: 100vh;
        width: 100vw;
        background-image: url("../imgs/page5/page_main5.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        inset: 0px;
        animation: 1s linear 0s 1 normal forwards running zoom-in;
        display: block;
    }

    .page5_img1{
        width: 600px;
        height: auto;
        position: relative;
        top: 100px;
        left: 10%;

    }
    .page5_img1 img{
        object-fit: contain;
        display: flex;
        float: none;
        width: 100%;
        height: auto;
    }

    .page5_img2{
        width: 500px;
        height: auto;
        position: relative;
        top: -220px;
        left: 60%;

    }
    .page5_img2 img{
        object-fit: contain;
        display: flex;
        float: none;
        width: 80%;
        height: auto;
    }


    .phon4_img1{
        display: none;
    }
    
    .phon4_img2{
        display: none;
    }

}